<footer style="margin-top: 80px;">
    <div class="footer-content">
        <div class="contact-info">
            <h2>문의 정보</h2>
            <p>전화: 012-3456-7890</p>
            <p>이메일: support@seniorshop.com</p>
        </div>
        <div class="helpful-links">
            <h2>도움말 링크</h2>
            <ul>
                <li><a href="#">주문 방법</a></li>
                <li><a href="#">배송 정보</a></li>
                <li><a href="#">환불 정책</a></li>
                
            </ul>
        </div>
        <div class="social-media">
            <h2>소셜 미디어</h2>
            <a href="#" class="social-icon"><i class="fab fa-facebook-square"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 SeniorShop. All rights reserved.</p>
    </div>
</footer>
</body>
</html>