h1 {
  text-align: center;
  color: var(--color-gray-600);
  font-size: 2.5rem;
  margin-bottom: var(--space-4);
}

form {
  max-width: 30rem;
  margin: var(--space-8) auto;
  padding: var(--space-6);
  background-color: var(--color-gray-50);
  border-radius: var(--border-radius-medium);
  text-align: left;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.input-group input[type="password"],
.input-group input[type="text"] {
  width: calc(50% - 10px);
}

form label {
  display: block;
  margin-bottom: var(--space-2);
  font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="tel"] {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: var(--space-2);
  border-radius: var(--border-radius-small);
  border: 1px solid var(--color-gray-300);
}

form button {
  width: 100%;
  padding: 15px;
  font-size: 1.5rem;
  color: white;
  background-color: var(--color-primary-500);
  border: none;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
}

form button:hover,
form button:active {
  background-color: var(--color-primary-600);
}

form a {
  color: var(--color-gray-600);
  font-size: 1.25rem;
  transition: color 0.3s;
}

form a:hover,
form a:active {
  color: var(--color-primary-500);
}
