<%- include('../../shared/includes/head', { pageTitle: 'FAQ' }) %>
<link rel="stylesheet" href="/styles/cs.css">
</head>
<body>
    <%- include('../../shared/includes/header') %>

    <main>
        <h1>자주 묻는 질문</h1>
        <ul class="faq-list">
            <li>
                <h2>Q. [배송일정] 배송 중인 상품의 위치를 알고 싶어요.</h2>
                <p>A. 배송현황은 '내 정보'에서 확인 가능합니다.</p>
                <b>배송현황 확인하기</b>
                <p>내 정보 -> 주문 목록</p>
            </li>
            <li>
                <h2>Q. [배송일정] 배송상태가 계속 상품 준비 중입니다.</h2>
                <p>A. 배송상태가 ‘상품준비중’인 단계는 판매자가 고객님의 주문을 확인하고 상품을 포장하여 배송을 준비하는 상태입니다.</p> 
                <p>갑작스러운 주문량 증가 등 판매자 측에 예상치 못한 상황이 발생할 경우 ‘상품준비중’ 단계가 길어질 수 있습니다.</p>
            </li>
            <!-- 추가 질문 및 답변들을 여기에 추가할 수 있습니다. -->
        </ul>
    </main>

<%- include('../../shared/includes/footer') %>